.about-container{
    margin: 4rem 6rem;
    text-align: start;
}

.about-container h1{
   /*padding-bottom: 1rem;*/
   
    font-size: 2.5rem; /* Adjust font size as needed */
    color: #333; /* Text color */
    margin-bottom: 20px; /* Bottom margin */
  
  
}
.about-container h3{
    font-size: 1.5rem; /* Adjust font size as needed */
    color: #555; /* Text color */
    margin-bottom: 15px; /* Bottom margin */
}
.about-container p{
    font-size: 1rem; /* Adjust font size as needed */
    color: #777; /* Text color */
    line-height: 1.5; /* Line height */
    margin-bottom: 15px; /* Bottom margin */
}
@media screen and (max-width: 850px) {
    .about-container {
        margin: 4rem 2rem;
    }
}